// include font family
@mixin font($font_name, $file_name, $weight, $style) {
	@font-face {
		font-family: $font_name;
		font-display: swap;
		src:
			url('../fonts/#{$file_name}.woff') format('woff'),
			url('../fonts/#{$file_name}.woff2') format('woff2');
		font-weight: #{$weight};
		font-style: #{$style};
	}
}

@mixin maxw($media) {
	@media only screen and (max-width: $media) {
		@content;
	}
}

@mixin minw($media) {
	@media only screen and (min-width: $media) {
		@content;
	}
}
@mixin minh($media) {
	@media only screen and (min-height: $media) {
		@content;
	}
}
@mixin maxh($media) {
	@media only screen and (max-height: $media) {
		@content;
	}
}
