// project colors
$white: #ffffff;

$black: #000000;

$gray-100: #FEFEFE;
$gray-200: #F3F5F7;
$gray-300: #E8ECEF;
$gray-400: #6C7275;
$gray-500: #343839;
$gray-600: #232627;
$gray-700: #141718;


$blue: #377DFF;
$green: #38CB89;
$orange: #FFAB00;
$red: #FF5630;
// timing
$hover-duration: 0.5s;
$duration: 1s;
$timing: cubic-bezier(0.17, 0.67, 0.55, 1.05);

//media
$full-hd: 1900px;
$lg: 1440px;
$pc: 1280px;
$sm-pc: 1024px;
$tablet: 968px;
$sm-tablet: 768px;
$lg-mob: 600px;
$mob: 480px;
$se: 360px;
$i5: 320px;
