// header
.header {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 100;

	&-row {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
	&-cta {
		padding: 5px 0;
		background-color: $gray-200;
		position: relative;
		@include minw($mob) {
			padding: 11px;
		}
		&.hidden {
			display: none;
		}
		&__row {
			display: flex;
			align-items: center;
			justify-content: center;
			img {
				width: 13px;
				@include minw($mob) {
					width: 20px;
				}
			}
			p {
				font-size: 12px;
				font-weight: 600;
				line-height: 1.571em;
				margin: 0 8px;
				@include minw($mob) {
					font-size: 14px;
					margin: 0 14px;
				}
			}
		}
	}
}

.logo {
	display: inline-block;
	max-width: 200px;
	position: relative;
	z-index: 1;
}

.nav {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	background-color: $black;
	pointer-events: none;
	opacity: 0;
	transform: translateX(-20px);
	transition:
		opacity 0.5s ease-out,
		transform 0.5s ease-out;
	@include minw($tablet) {
		position: static;
		width: auto;
		height: auto;
		pointer-events: initial;
		opacity: 1;
		background-color: transparent;
	}
	&.active {
		opacity: 1;
		pointer-events: initial;
		transform: translateX(0);
	}
	&-list {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		padding: 90px 0 0 22px;
		justify-content: flex-start;
		font-size: 18px;
		@include minw($tablet) {
			flex-direction: row;
			align-items: center;
			flex-wrap: wrap;
			padding: 0;
		}

		&__item,
		li {
			&:not(:last-child) {
				margin-right: 2px;
			}
		}

		&__link,
		a {
			padding: 10px 15px;
		}
	}
}

.burger {
	position: relative;
	width: 22px;
	height: 16px;
	z-index: 101;
	display: inline-block;
	@include minw($tablet) {
		display: none;
	}

	&_item {
		position: absolute;
		width: 22px;
		height: 2px;
		background-color: $white;
		left: 0;
		transition: 0.5s ease-out;

		&:first-child {
			top: 0;
		}

		&:nth-child(2) {
			top: 50%;
			margin-top: -1px;
		}

		&:last-child {
			bottom: 0;
		}
	}

	&.active {
		.burger_item {
			&:first-child {
				transform: rotate(45deg);
				top: 7px;
			}

			&:nth-child(2) {
				width: 0;
			}

			&:last-child {
				transform: rotate(-45deg);
				bottom: 7px;
			}
		}
	}
}
